{% extends 'base.html' %}
{% block title %} About{% endblock title %}
{% block body %}

<div>
    <h1 style="text-align: center;"><span style="font-size: x-large;"><u></u><u>About Us !</u></span></h1>
    <h3 style="text-align: center;"><span style="font-weight: normal;"><span style="font-size: large;">Hello Friends
                Welcome To ICE CrEaMs</span></span></h3>
    <p style="text-align: center;"><br />
    <p style="font-size: 18px"></p> <p style="text-align: center;">ICE CrEaMs is a Professional service Platform. Here we provide you
        asia's best ice creams, which you will like very much.<br />
    <p style="text-align: center;"><br />
    <p style="font-size: 18px "></p><p style = "text-align: center;">We're dedicated to providing you the best of service, with a focus on
        delecious flavour to mindboggle you. </a><br /><br />
    <p style="font-size: 18px"></p><p  style = "text-align: center;">We're working to turn our passion for service into a booming online
        service. We hope you enjoy our service as much as we enjoy offering them to you.</p>
    <div style="text-align: center;"><br /></div>
    <div style="text-align: center;">
        <h3> </h3>
    </div>
    <div style="text-align: center;">
        <h3>Thanks For Visiting Us</h3>
    </div>
    <div style="text-align: center;"><a href="/contact" target="_blank"><span style="font-size: medium;">
                <h4>Contact Us !</h4>
            </span></a></div>
</div>

{% endblock body %}