
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  


  <!-- Bootstrap CSS -->
  
    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  

 
  <title> {% block title %}{% endblock title %}
    ICE CrEaMS</title>



</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/static/Nav-Logo.png" width="140" height="120" />







    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container-fluid">
      <a class="navbar-brand" href="/">ICE CrEaMs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT US</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/signup" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              SERVICES
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Flavour quiz</a></li>
              <li><a class="dropdown-item" href="#">Write a suggestion</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACT US</a>
          </li>
        </ul>


        <button type="button"  id = "popcart" class="btn btn-secondary mx-2" data-bs-toggle="popover" title="WHAT YOU CHOSE?"   >
          YOUR TUB(<span id="cart">0</span>)
          </button>






      </div>
    </div>
  </nav>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script src="http:////cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

<div class="container">
  <div class="container-fluid my-4 ">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <h1 class="my-2  text-center">
          <p style="font-family:Georgia">
          <div id=‘home’></div>
          </p>
        </h1>

        <div class="row row-cols-sm-2 row-cols-md-3 g-3">
          {%for i in product|slice:"1:" %}

          <div class="col">
            <div class="card shadow-sm">
              <img src='/media/{{i.image}}' class="d-block w-50 " alt="...">

              <div class="card-body">
                <p class="card-text" id="namepr{{i.id}}">{{i.name}}
                <div class="d-flex justify-content-between align-items-center">
                  <h6 class="card-title">Price : <span id="pricepr{{i.id}}">{{i.price}}</span></h6>

                  <span id="divpr{{i.id}}" class="divpr">
                    <button id="pr{{i.id}}" class="btn btn-primary cart">BUY</button>
                  </span>
                  <small class="text-muted"></small>

                </div>
              </div>
            </div>
          </div>
          {% endfor %}






          





          {% block js %}
          <script>

            if (localStorage.getItem('cart') == null) {
              var cart = {};
            }
            else {
              cart = JSON.parse(localStorage.getItem('cart'));
              updateCart(cart);


            }
            $('.divpr').on('click', 'button.cart', function () {

              var idstr = this.id.toString();

              if (cart[idstr] != undefined) {
                qty = cart[idstr][0] + 1;
              }
              else {
                qty = 1;
                name = document.getElementById('name' + idstr).innerHTML
                price = document.getElementById('price' + idstr).innerHTML
                cart[idstr] = [qty, name, price];

              }
              updateCart(cart);
              localStorage.setItem('cart', JSON.stringify(cart));


            });









          
           
            function updatePopover(cart) {
              console.log('We are inside updatePopover');
              var popStr = "";


              var i = 1;
              for (var item in cart) {
                popStr = popStr + '<b>' + i + '</b>. ';
                popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
                i = i + 1;
              }


              popStr = popStr + "</div>" + "<a  href='/checkout' class=' mx-2 my-2' id ='checkout' style='color:black; background-color:light-blue; '>CHECKOUT</a>" + "<a  id ='clearcart' href='#'  onclick= 'clearcart()' > CLEARCART</a>"


              console.log(popStr);
              document.getElementById('popcart').setAttribute('data-bs-content', popStr);
              const exampleEl = document.getElementById('popcart')
              const popover = new bootstrap.Popover(exampleEl, { html: true })






            }

            $('#clearcart').click(function (clearcart) {
              console.log("we are inside clear cart function");
              cart = JSON.parse(localStorage.getItem('cart'));
              localStorage.clear();

            });









            function updateCart(cart) {
              var sum = 0;

              for (var item in cart) {
                sum = sum + cart[item][0];
                document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";

              }
              localStorage.setItem('cart', JSON.stringify(cart));
              document.getElementById('cart').innerHTML = sum;
              if (cart[item][0] != 0){
              updatePopover(cart);
              }


            }

            $('.divpr').on('click', 'button.minus', function () {
              a = this.id.slice(7);
              cart['pr' + a][0] = cart['pr' + a][0] - 1;
              cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
              document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
              
              updateCart(cart);
            });

            $('.divpr').on('click', 'button.plus', function () {
              a = this.id.slice(6,);
              cart['pr' + a][0] = cart['pr' + a][0] + 1;
              document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
              updateCart(cart);

            });















          </script>
          {% endblock %}




          </html>