{% extends 'base.html' %}
{% block title %} contact{% endblock title %}

{% block body %}


<div class="container">
    <div class="container-fluid my-4 ">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
    <h1 class="my-2  text-center"><p style="font-family:Georgia" >SEleCt YOur CONE</p></h1>
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://loremflickr.com//1600//500//icecreamcone" class="d-block w-90" alt="...">
                <div class="card-body">
                  <p class="card-text">BELGIAN CHOCOLATE(65ml)
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">BUY @67</button>
                     
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
               <img src="https://loremflickr.com//1600//500//men" class="d-block w-90" alt="...">
    
                <div class="card-body">
                  <p class="card-text">BLACK CURRENT(65ml)
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">BUY</button>
                     
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://loremflickr.com//1600//500//gelato" class="d-block w-90" alt="...">
    
                <div class="card-body">
                  <p class="card-text">ARABIAN FANATASY(65ml)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"  >BUY</button>
                      
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://loremflickr.com//1600//500//strawberry" class="d-block w-90" alt="...">
    
                <div class="card-body">
                  <p class="card-text">BUTTERSCOTCH(120ml)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">BUY</button>
                      
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="https://loremflickr.com//1600//500//girl" class="d-block w-90" alt="...">
    
    
                <div class="card-body">
                  <p class="card-text">CHOCO(65ml)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"> BUY</button>
                      
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                 <img src="https://loremflickr.com//1600//500//family" class="d-block w-90" alt="...">
    
    
                <div class="card-body">
                  <p class="card-text">MANGO(65ml)</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">BUY</button>
                      
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
    
            
              </div>
            </div>
            <div class="col">
              
              </div>
            </div>

                
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
        <h1 class="my-2  text-center"><p style="font-family:Georgia" >FAMILY , FRIEND AND CELEBRATIONS</p></h1>
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="https://loremflickr.com//1600//500//icecreamcone" class="d-block w-90" alt="...">
                    <div class="card-body">
                      <p class="card-text">BELGIAN CHOCOLATE(65ml)
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">BUY @67</button>
                         
                        </div>
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                   <img src="https://loremflickr.com//1600//500//men" class="d-block w-90" alt="...">
        
                    <div class="card-body">
                      <p class="card-text">BLACK CURRENT(65ml)
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">BUY</button>
                         
                        </div>
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="https://loremflickr.com//1600//500//gelato" class="d-block w-90" alt="...">
        
                    <div class="card-body">
                      <p class="card-text">ARABIAN FANATASY(65ml)</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary"  >BUY</button>
                          
                        </div>
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="https://loremflickr.com//1600//500//strawberry" class="d-block w-90" alt="...">
        
                    <div class="card-body">
                      <p class="card-text">BUTTERSCOTCH(120ml)</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">BUY</button>
                          
                        </div>
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="https://loremflickr.com//1600//500//girl" class="d-block w-90" alt="...">
        
        
                    <div class="card-body">
                      <p class="card-text">CHOCO(65ml)</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary"> BUY</button>
                          
                        </div>
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                     <img src="https://loremflickr.com//1600//500//family" class="d-block w-90" alt="...">
        
        
                    <div class="card-body">
                      <p class="card-text">MANGO(65ml)</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">BUY</button>
                          
                        </div>
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                </div>
        
                
                  </div>
                </div>
                <div class="col">
                  
                  </div>
                </div>
                
        
                    
                        <small class="text-muted"></small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>        
            <div class="container">
                <h1 class="my-2  text-center"><p style="font-family:Georgia" >MEN & WOMEN</p></h1>
                
                      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="https://loremflickr.com//1600//500//icecreamcone" class="d-block w-90" alt="...">
                            <div class="card-body">
                              <p class="card-text">BELGIAN CHOCOLATE(65ml)
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">BUY @67</button>
                                 
                                </div>
                                <small class="text-muted"></small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                           <img src="https://loremflickr.com//1600//500//men" class="d-block w-90" alt="...">
                
                            <div class="card-body">
                              <p class="card-text">BLACK CURRENT(65ml)
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">BUY</button>
                                 
                                </div>
                                <small class="text-muted"></small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="https://loremflickr.com//1600//500//gelato" class="d-block w-90" alt="...">
                
                            <div class="card-body">
                              <p class="card-text">ARABIAN FANATASY(65ml)</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"  >BUY</button>
                                  
                                </div>
                                <small class="text-muted"></small>
                              </div>
                            </div>
                          </div>
                        </div>
                
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="https://loremflickr.com//1600//500//strawberry" class="d-block w-90" alt="...">
                
                            <div class="card-body">
                              <p class="card-text">BUTTERSCOTCH(120ml)</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">BUY</button>
                                  
                                </div>
                                <small class="text-muted"></small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                            <img src="https://loremflickr.com//1600//500//girl" class="d-block w-90" alt="...">
                
                
                            <div class="card-body">
                              <p class="card-text">CHOCO(65ml)</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary"> BUY</button>
                                  
                                </div>
                                <small class="text-muted"></small>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card shadow-sm">
                             <img src="https://loremflickr.com//1600//500//family" class="d-block w-90" alt="...">
                
                
                            <div class="card-body">
                              <p class="card-text">MANGO(65ml)</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary">BUY</button>
                                  
                                </div>
                                <small class="text-muted"></small>
                              </div>
                            </div>
                          </div>
                        </div>
                
                        
                          </div>
                        </div>
                        <div class="col">
                          
                          </div>
                        </div>
            
                            
                                <small class="text-muted"></small>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            
{% endblock body %}