{% extends 'base.html' %}
{% block title %} HOME{% endblock title %}
{% block body %}
<div class="container-fluid my-4 ">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x500/?ice cream cone" class="d-block w-90" alt="...">
      
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x500/?icecream" class="d-block w-90" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x500/?ice" class="d-block w-90" alt="...">
    </div>
  </div>
</div>
</div>


<div class="container">
<h1 class="my-2  text-center">Select YOur ICE CrEaMs</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x500/?icecreamcone" class="d-block w-90" alt="...">
            <div class="card-body">
              <p class="card-text">CONE ZONE
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://source.unsplash.com/1600x500/?boy" class="d-block w-90" alt="...">

            <div class="card-body">
              <p class="card-text">MEN'S CHOICE
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                 
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x500/?gelato" class="d-block w-90" alt="...">

            <div class="card-body">
              <p class="card-text">GELATIN RICH.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x500/?strawberry" class="d-block w-90" alt="...">

            <div class="card-body">
              <p class="card-text">FLAVOURS</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x500/?girls" class="d-block w-90" alt="...">


            <div class="card-body">
              <p class="card-text">LADIES'S LOVE</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1600x500/?family" class="d-block w-90" alt="...">


            <div class="card-body">
              <p class="card-text">FAMILY FUN</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1600x500/?celebration" class="d-block w-90" alt="...">

            <div class="card-body">
              <p class="card-text">CELEBRATE IT</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1600x500/?festival" class="d-block w-90" alt="...">

            <div class="card-body">
              <p class="card-text">FESTI-VITIES</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://source.unsplash.com/1600x500/?friend" class="d-block w-90" alt="...">

            <div class="card-body">
              <p class="card-text">FRIENDSHIP IS COOL</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>s
    </div>
{% endblock body %}
