{% extends 'base.html' %}
{% block title %} contact{% endblock title %}

{% block body %}
<div class="containern- fluid">
<img src="https://source.unsplash.com/1200x400/?phone,email" class="d-block w-100 my-4" alt="...">
</div>
<div class="container">


<h1 class="text-center"> Order for you Loved ones</h1>

{% csrf_token %}


<form method ="post"  action="/someone">
{% csrf_token %}

<div class=" form-group mb-3">
  <label for="email" class="form-label">Thier Name</label>
  <input type="text" class="form-control" id="email"  name="email" placeholder="Enter thier name">
</div>
<div class=" form-group mb-3">
  <label for="desc" class="form-label">Thier adress</label>
  <textarea class="form-control" id="desc"  name="desc"   placeholder="Adress"rows="3"></textarea>
</div>
<div class=" form-group mb-3">
    <label for="email" class="form-label">Contact number </label>
    <input type="integer" class="form-control" id="email"  name="email" placeholder="Enter Number">
  </div>

<button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock body %}